h1{
    font-family: "Playfair Display";
    fill: black;
    padding: 20px;
    
}
h4{
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
    
     
}
h6{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
      
}
.homepage{
    text-align: center;
}
.poppins-700{
    font-weight:600;
    fill: rgba(62, 34, 165, 0.89);
}
.container-footer{
    margin: auto;
    background-color: lightgrey;
    width: auto;
    border: 5px;
    padding: 30px;
    
}
.btn{
    background-color: blueviolet;
    color: aliceblue;

}

.social-links img{
  margin: 30px;

}
footer{
  padding-top: 90px;
}
.mail{
    padding-top: 20px;
}

